@import { SidebarComponent } from '../sidebar/sidebar.xd.component.ts'
@import { TopbarComponent } from '../topbar/topbar.xd.component.ts'
@import { FormComponent } from '../form/form.xd.component.ts'

<div class="shell">
  <app-sidebar
    @if (applyDinamicBinding()) { 
      text="{counter().toString()}"

      @if (applyDinamicBinding2()) { 
        text2="{counter2().toString()}" 
      } 
    }
    enableDrag="{enableDrag()}"
    collapsed="{sidebarCollapsed()}" 
    (collapsedChange)="onCollapseChange($event)" 
  />
  
  <div class="shell__main">
    <app-topbar (menuToggle)="onSidebarToggle()" />
    
    <main class="shell__content">
      <app-form />
      <div style="display: flex; gap:.5rem;">
        <button (click)="onDragToggle()">
          Toggle dinamic binding
        </button>
        <button (click)="onApplyDinamicBindingToggle()">
          Toggle dinamic binding
        </button>
        <button (click)="onTextToggle()">
          Increase Value
        </button>
        <button (click)="onApplyDinamicBindingToggle2()">
          Toggle dinamic binding 2
        </button>
        <button (click)="onTextToggle2()">
          Increase Value 2
        </button>
      </div>
    </main>
  </div>
</div>
